:host {
  display: block;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

.displayFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-top: 2rem;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--primary-color);
}

a {
  text-decoration: underline;
  cursor: pointer;
  margin: 15%;
}

.error {
  background-color: #f44336;
  color: white;
  padding: 1rem;
  border-radius: 4px;
}

button {
  margin-top: 1rem;
}
