<div class="displayFlex">
    <h1>LOGIN</h1>

    <p class="error" [hidden]="hid"><strong>{{errorMessage}}</strong></p>

    <form [formGroup]="connectionForm" class="displayFlex">

        <div>
            <p>Your username:</p>
            <mat-form-field>
                <input matInput type="text" formControlName="user" />
            </mat-form-field>
        </div>

        <div>
            <p>Your password:</p>
            <mat-form-field>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
        </div>

    <button type="button" (click)="loginUser()">Connect</button>
    <br>

    

</form>

</div>
