body {
    background-color: #f9ffe4;
}

.displayFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: underline;
    cursor: pointer;
    color: black;
    margin: 15%;
}

.error{
    background-color: red;
}