.fakeline {
  border-top: 1px solid var(--border-color);
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  margin-top: 50px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-markdown-editor {
  width: 95%;
}
