.fakeline {
    border-top: 1px solid var(--border-color);
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.buttons {
    display:flex;
    justify-content: space-around;
}

button {
    background-color: var(--primary-color);
    color: #fff; /* Assuming text on primary is white */
    border: none;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    margin: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    opacity: 0.9;
}

.text {
    display : flex;
    align-items: center;
    justify-content: center;
}

#prompt {
  border: 0px;
  background-color: var(--component-background);
}

#generated {
  border: 0px;
  background-color: var(--background-color);
}

app-markdown-editor {
    width:95%;
}
