<div class="text"><p>{{ fileName }}</p></div>

@if (!pendingValidation) {
    <div class="text"><app-markdown-editor [content]="text" (contentChange)="onContentChange($event)"></app-markdown-editor></div>


    <div class="fakeline"></div>

    <div class="buttons">
        <button type="submit" (click)="showModalAdd()">Generate</button>
        <button (click)="save()">Save</button>
        @if (isModalVisibleAdd) {
            <app-modal [title]="title" (close)="hideModal()"
                       (validate)="handleModalAddSubmit($event)"></app-modal>
        }
    </div>
}
@if (pendingValidation) {
    <div class="text">
    <textarea #prompt [spellcheck]="true" id="generated" autocomplete="on" autocapitalize="sentences" rows="28"
              cols="85">{{ generatedText }}</textarea>
    </div>

    <div class="fakeline"></div>

    <div class="buttons">
        <button (click)="applyGeneratedText()">Yes</button>
        <button (click)="rejectGeneratedText()">No</button>
        <button type="submit" (click)="save()">Save</button>
    </div>

}
