textarea{
  resize:None;
}

.fakeline {
    border-top: 1px solid black;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.buttons {
    display:flex;
    justify-content: space-around;
}

/*to update style when we're sure of the colors*/
button {
    height: 25px;
    width: 80px;
    border-radius: 5px;
    margin: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    

/*to change also the border color when we will have the colors*/
button:hover {
    background-color: rgb(229, 179, 155);
}


.text {
    display : flex;
    align-items: center;
    justify-content: center;
}


#prompt {
  width: 60%;
  height: 40%;
  border: 0px;
  background-color: white;
  outline: none;
}

#generated {
  width: 60%;
  height: 40%;
  border: 0px;
  background-color: lightgray;
  outline: none;
}

/*CSS OF THE MENU*/
.context-menu {
    position: fixed;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 8px 0;
    min-width: 150px;
    display: none;
    z-index: 1000;
  }
  
  .context-menu.visible {
    display: block;
  }
  
  .menu-item {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .menu-item:hover {
    background-color: #f5f5f5;
  }

