.dialog-box h4 {
    margin-top: 0;
}

.dialog-box p {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.dialog-box textarea {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1em;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}
