@import "../dialog-base.css";

.dialog-box {
    max-width: 500px;
    text-align: center;
}

.dialog-box h4 {
    margin-top: 0;
}

.dialog-box p {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.dialog-box textarea {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}