<div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">        
        <h4>{{ title }}</h4>

        @if (showContext) {
            <p>Context (optional):</p>
            <textarea [(ngModel)]="context" type="text" rows="3" cols="40"></textarea>
        }
        <p>Name:</p>
        <textarea [(ngModel)]="nameValue" type="text" rows="1" cols="40"></textarea>
        <br>
        <br>
        <button (click)="validateModal()">Validate</button>
        <button (click)="closeModal()">Cancel</button>
    </div>
</div>