<!--
    This container holds the entire file system tree component.
    It provides a consistent layout and background.
-->
<div class="file-system-container">
    <!-- Application Title and Root Actions -->
    <div class="title-bar">
        <span>INKSPIRE</span>
        <div>
            <button mat-icon-button (click)="toggleTheme()" aria-label="Toggle theme">
                <mat-icon>{{ themeService.isDarkMode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="rootActionsMenu" aria-label="Open root actions menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>

    <!-- Menu for root-level actions -->
    <mat-menu #rootActionsMenu="matMenu">
        <button mat-menu-item (click)="handleCreateFile(null)">
            <mat-icon>note_add</mat-icon>
            <span>New File</span>
        </button>
        <button mat-menu-item (click)="handleCreateDirectory(null)">
            <mat-icon>create_new_folder</mat-icon>
            <span>New Directory</span>
        </button>
    </mat-menu>

    <!-- Menu for directory-level actions -->
    <mat-menu #dirActionsMenu="matMenu">
        <button mat-menu-item (click)="handleCreateFile(contextNode!.id)">
            <mat-icon>note_add</mat-icon>
            <span>New File</span>
        </button>
    </mat-menu>

    <!--
        The main Material Tree component that displays the file system.
        It's bound to the `dataSource` and `treeControl` from the component class.
    -->
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="mdc-tree">
        <!--
            Node definition for expandable nodes (directories).
            It includes a toggle button, an icon, and the node's name.
        -->
        <mat-tree-node
            *matTreeNodeDef="let node; when: hasChild"
            class="mdc-tree-node"
            [class.selected-node]="isSelected(node)"
            [class.menu-open]="menuOpenForNode === node.id"
            (click)="selectNode(node)"
        >
            <div class="mdc-tree-node-content">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon>{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
                </button>
                <mat-icon>folder</mat-icon>
                <span class="node-name"> {{node.name}}</span>
                <span class="node-actions">
                    <button mat-icon-button [matMenuTriggerFor]="dirActionsMenu" (menuClosed)="onDirMenuClose()" (click)="onDirMenuOpen(node, $event)" aria-label="Open directory actions menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </span>
            </div>
            <!-- This div holds the nested nodes and is shown/hidden based on expansion state. -->
            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
            </div>
        </mat-tree-node>

        <!--
            Node definition for leaf nodes (files).
            It includes an icon and the node's name.
            A disabled button is used as a placeholder to maintain alignment with directories.
        -->
        <mat-tree-node
            *matTreeNodeDef="let node"
            class="mdc-tree-node file-node"
            [class.selected-node]="isSelected(node)"
            (click)="selectNode(node)"
        >
            <div class="mdc-tree-node-content">
                <button mat-icon-button disabled style="visibility: hidden;"></button>
                <mat-icon>insert_drive_file</mat-icon>
                <span class="node-name"> {{node.name}}</span>
            </div>
        </mat-tree-node>
    </mat-tree>

    <!--
        Modal allowing to show dialog fore file and directory actions (creation, deletion, etc).
    -->
    @if (isModalVisible) {
        <app-modal
            [title]="modalTitle"
            [showContext]="modalShowContext"
            [isVisible]="isModalVisible"
            (close)="closeCreationModal()"
            (validate)="onCreationModalValidate($event)">
        </app-modal>
    }
</div>
