:host {
  display: block;
  background-color: var(--component-background);
  color: var(--text-color);
  padding: 1rem;
  border-top: 1px solid var(--border-color);
}

h2 {
  margin-top: 0;
  font-size: 1.2rem;
  color: var(--primary-color);
}
