body {
    background-color: white;
}

.loading{
    background-color: rgba(0, 0, 0, 0.3);
}

.container{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    height: 100%;
}

#tree{
    width: 40%;
    max-width: 350px;
}

#tex{
    width:100%;
}

app-text-page {
    width: fill;
}

#addButton {
    border: 2px solid black;
    background-color: white;
    width: 100px;
    border-radius: 10px;
}

#addButton:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

#displayGrid {
    width: 33%;
}
