body {
    background-color: white;
}

.loading{
    background-color: rgba(0, 0, 0, 0.3);
}

.container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#displayGrid {
    flex-shrink: 0;
    flex-basis: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
}

#tree{
    flex-grow: 1;
}

#models {
    flex-shrink: 0;
    height: 150px;
}

#tex{
    flex-grow: 1;
}
