/* You can add global styles to this file, and also import other style files */
@import "@toast-ui/editor/dist/toastui-editor.css";
@import "@toast-ui/editor/dist/theme/toastui-editor-dark.css";
@import "dialog-base.css";

/* Default (light) theme color variables */
:root {
  --background-color: #f5f5f5;
  --text-color: #212121;
  --primary-color: #2196f3;
  --component-background: #ffffff;
  --border-color: #e0e0e0;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --selected--background: #f0f0f0;
  --hover-background: #e3f2fd;
  --selected-border: #2196f3;
  --icon-color: #555;
}

/* Dark theme color variables */
body.dark-theme {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --primary-color: #1186e3;
  --button-color: #086490;
  --component-background: #1e1e1e;
  --border-color: #424242;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --selected--background: #2a2a2a;
  --menu-background: #2a2a2a;
  --hover-background: #086490;
  --selected-border: var(--primary-color);
  --icon-color: #bdbdbd;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3) !important;
  filter: brightness(70%);
  background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif')
    top center no-repeat;
  z-index: 9999;
}

button {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: filter 0.2s;
  font-weight: bold;
}

button:hover {
  filter: brightness(110%);
}

/* Dark theme styles for Angular Material components */
.dark-theme {
  /* Mat-form-field variables (login page) */
  --mat-form-field-filled-input-text-color: var(--text-color);
  --mat-form-field-filled-container-color: var(--menu-background);

  /* Mat-menu variables (tree-file menus) */
  --mat-menu-item-label-text-color: var(--text-color);                  /* Text color for options menu. */
  --mat-menu-item-icon-color: var(--icon-color);                        /* Icon color for options menu. */
  --mat-menu-item-hover-state-layer-color: var(--hover-background);  /* Hover background for options menu. */
  --mat-menu-container-color: var(--menu-background);                   /* Background color for options menu. */

  /* Mat-select variables (model select menu) */
  --mat-form-field-filled-label-text-color: var(--text-color);          /* Text color for select menu label. */
  --mat-form-field-filled-focus-label-text-color: var(--primary-color); /* Text color for select menu label, when in focus. */
  --mat-form-field-filled-hover-label-text-color: var(--text-color);    /* Text color for select menu label, when in hover. */
  --mat-option-selected-state-label-text-color: var(--primary-color);   /* Text color for selected entry in open select menu. */
  --mat-select-focused-arrow-color: var(--primary-color);               /* Text color arrow next to select menu, when in focus. */
  --mat-option-label-text-color: var(--text-color);                     /* Text color for text in options of select menu. */
  --mat-select-enabled-arrow-color: var(--text-color);                  /* Text color arrow next to select menu, seems required for --mat-select-enabled-trigger-text-color. */
  --mat-select-enabled-trigger-text-color: var(--text-color);           /* Text color for selected entry in closed select menu. */
  --mat-select-panel-background-color: var(--menu-background);          /* Background color for select menu. */
  --mat-form-field-filled-focus-active-indicator-color: var(--primary-color);   /* Color of bottom border of closed select menu when in focus. */
}


/* Background color for unselected entries in open select menu, when in hover. */
.dark-theme .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: var(--hover-background);
}

/* Background color for selected entry in open select menu, when in hover. */
.dark-theme .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple):hover {
  color: var(--text-color);
  background-color: var(--hover-background);
}

/* Text color for selected entry in open select menu, when in hover. */
.dark-theme .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple):hover .mdc-list-item__primary-text {
    color: var(--text-color);
}

/* Checkmark color for selected entry in open select menu, when in hover. */
.dark-theme .mat-mdc-option:hover .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
.dark-theme .mat-mdc-option:hover .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
    color: var(--text-color);
}
